## Module 1: Data Acquisition and Preprocessing:

#### 1.1 Data Loading and Cleaning

In [ ]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
import seaborn as sns

# Load the JSON file into a DataFrame
file_path = 'electronics.json'  # Replace with your JSON file path
with open(file_path, 'r') as file:
    data = json.load(file)

df = pd.DataFrame(data)

# Replace empty strings with NaN so they can be counted as null values
df.replace("", np.nan, inplace=True)

# Display the first few rows of the DataFrame
df.head(20)

,Customer_ID,Age,Gender,Income_Level,Address,Transaction_ID,Purchase_Date,Product_ID,Product_Category,Brand,Purchase_Amount,Average_Spending_Per_Purchase,Purchase_Frequency_Per_Month,Brand_Affinity_Score,Product_Category_Preferences,Month,Year,Season,Will_Purchase_Next_Month
0,b81ee6c9-2ae4-48a7-b283-220eaa244f43,40,Female,Medium,"43548 Murray Islands Suite 974\nAmyberg, CT 13457",c6a6c712-e36b-406a-bfde-f53bdcf4744f,2022-04-26,d2f767d6-b01a-41a2-87f7-ec1d1186f50e,Clothing,Brand_C,193,59,2,2,Low,01,2010,Winter,1
1,NaN,25,Male,High,NaN,0b587838-1e4f-4231-b488-42bcd47c052a,2021-08-10,79eadc55-2de1-41cf-b1b6-40118c0bf8ec,Books,Brand_A,318,77,2,1,Low,08,1989,Fall,1
2,fdf79bcd-5908-4c90-8501-570ffb5b7648,57,Other,Low,"79683 Kevin Hill Apt. 555\nJohnshire, AR 39961",462925b1-a5bf-4996-bda2-59749de64eea,2021-12-09,9ab75a68-4329-4bd9-a259-2233c0f34c93,Electronics,Brand_A,197,100,9,1,Low,NaN,1995,Winter,1
3,878dccba-893a-48f9-8d34-6ed394fa3c9c,38,Female,Medium,02998 Hall Meadows Suite 809\nNorth Robertvill...,3cfafa02-6b34-4d77-9e05-d223dfab64e8,2022-12-03,d518569b-ff79-494b-b2b6-7e2af39db86a,Clothing,Brand_C,262,97,3,4,Low,09,2012,Fall,1
4,0af0bd81-73cc-494e-aa5e-75c6d0b6d743,68,Other,Medium,"21411 Timothy Ford Apt. 320\nDavisborough, AR ...",0d8dc27a-0c8f-4a82-b57e-8bf54cee9759,2020-06-08,b6deac9d-2b7e-4a51-8273-a6534910b3bc,Books,Brand_B,429,85,7,2,High,01,2010,Summer,1
5,5a4ac4ce-1e09-4ecb-805c-fb676f101385,26,Other,High,"843 John Knoll Suite 876\nRodriguezmouth, MO 3...",5b0d927b-a342-4df1-8846-a1acc62e2842,2022-12-03,03f82332-801c-45e2-84bf-af10a8f60248,Books,Brand_A,57,21,2,6,High,08,1989,Spring,1
6,e67f67b2-12f2-4b0c-b027-19cb052b3dd8,NaN,Female,NaN,"166 Johnny Mount Suite 366\nKimberlyberg, KS 6...",878c7ab1-ec62-4fc5-9061-6bed5db334f6,2021-12-22,8f399675-5c05-4bef-b5d1-863ec387e70a,Clothing,Brand_C,441,41,6,9,Medium,04,1973,Fall,1
7,80a5d367-b3dc-4c18-8a93-584e7c5e7e29,23,Female,High,"203 Tiffany Hill Suite 971\nPort Josetown, VI ...",e88c395b-2e4e-4d97-bbdb-0cc321168753,2022-09-30,f2f4088c-8822-4532-8b4d-ae4ed9ff2e1c,Clothing,Brand_A,390,42,9,2,Low,04,1976,Winter,1
8,NaN,22,Male,Low,"76417 Johnson Flat Suite 425\nCrystalchester, ...",cdae113e-9cb5-4a30-92f9-2c5637044d2a,2023-08-19,06bd8738-5110-49bd-abeb-1abdb3ce7f6b,NaN,Brand_C,297,49,4,5,Low,11,2018,Fall,1
9,a9dc9153-9750-471a-8a90-7c46292fc34c,80,Female,High,Unit 3169 Box 6845\nDPO AA 27380,24577c38-d74b-41a3-a944-2d32510b842b,2020-07-20,ee4c9e6c-801d-425d-ae12-589570ab3a66,Books,Brand_A,84,61,2,7,High,09,NaN,Fall,1
10,dd2fa4f9-9499-410a-a241-585ce36a18c6,43,Female,Low,"0707 Anderson Circle\nHoffmanberg, NC 27565",fbf5562a-5930-4dab-b9b8-07a2c7a52571,Hidden,8b707227-216c-4d7c-85a6-badb4f0afacb,Clothing,Brand_A,248,87,3,3,Medium,05,1985,Winter,1
11,NaN,57,Male,Medium,"267 Anita Streets\nCherylhaven, VT 84145",add24c43-ab88-45bf-a198-5f078b3e0ec3,2022-12-05,7f4358c4-9f56-41f5-ac2a-8d7d9f93f68b,Clothing,Brand_B,96,98,6,4,High,06,2010,Spring,1
12,5ec6bc6d-2af1-4062-868b-6df2dc683eb7,53,Male,Low,"2807 Alvarado Rapids\nEast Raymondchester, OR ...",81094f80-c54f-4416-93b5-8e9985d50b0e,2022-08-02,90fc8921-2266-4863-b3c6-82fc79411566,Clothing,Brand_B,365,94,9,10,Medium,04,2022,Summer,1
13,3f5e3ccb-d959-4ab0-984e-4d55ec09a47a,39,Other,Medium,"PSC 6710, Box 7869\nAPO AP 20785",aa7e3228-2d60-4ba9-a4ba-7cac419ad9c2,2022-04-12,ff2545db-1a56-4ced-a91e-1aaa8e92eda9,Clothing,Brand_C,111,23,5,7,High,08,1999,Spring,1
14,de24df9b-12a7-45f6-8310-76430bd6f719,23,Other,Hidden,"587 Rodriguez Center Suite 852\nMelissastad, C...",f041ba89-03f7-450d-8fbc-875428760b76,2021-11-21,b15ff4ac-af18-488c-85c0-e34a6546defd,Books,Brand_C,137,18,2,3,Medium,06,1994,Fall,1
15,2e74b84d-d06c-4920-a3a9-38e4a11e8da8,54,Male,High,"8072 Dean Bypass Suite 774\nChloebury, AL 01960",4c45da65-bd62-486e-aeff-31f8959e0987,2023-06-03,e47f58c8-c6e9-40ed-9ce8-31af73b91fb5,Electronics,Brand_B,272,18,10,3,Medium,04,2019,Winter,1
16,309ab6ee-9364-4a64-9785-77717415ed5f,22,Male,High,"80014 Ayers Extension Apt. 361\nSmithtown, WY ...",62001db5-24fa-49d8-b570-928124a181d9,2022-01-07,b66cae99-a5b0-4ca9-9aff-6f57ff1bf421,Electronics,NaN,241,26,8,5,Hidden,09,1978,Summer,1
17,ffb65cd7-4329-4abb-b076-05eb7cf933e0,68,Female,NaN,"7417 Gregory Garden\nJordanborough, MT 88106",27a18611-855f-4db3-ad4e-77b008695f09,2022-06-25,NaN,Electronics,Brand_B,115,31,4,4,Low,10,1972,Summer,1
18,24cf182e-d0e2-4022-97b1-5c7ebc31023b,57,Male,Medium,NaN,b08f3381-9a24-4381-b753-b9b48531145e,2022-02-02,5c301ae0-6255-483e-a307-74140013a543,Books,Brand_B,NaN,49,9,1,High,05,2003,Summer,1
19,2ff0993d-2b6e-41e5-b6ec-adc052ac140f,36,Male,High,"953 King Keys\nHowebury, IN 25042",e118aeb8-6a74-4254-9471-b8301e16a761,2022-05-09,85284187-567a-46aa-8a10-5c00207522c8,NaN,Brand_C,326,81,3,9,Medium,04,2012,Fall,1

In [51]:
# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer_ID                    968 non-null    object
 1   Age                            967 non-null    object
 2   Gender                         967 non-null    object
 3   Income_Level                   959 non-null    object
 4   Address                        968 non-null    object
 5   Transaction_ID                 961 non-null    object
 6   Purchase_Date                  965 non-null    object
 7   Product_ID                     960 non-null    object
 8   Product_Category               956 non-null    object
 9   Brand                          954 non-null    object
 10  Purchase_Amount                967 non-null    object
 11  Average_Spending_Per_Purchase  974 non-null    object
 12  Purchase_Frequency_Per_Month   963 non-null    object
 13  Brand_Affinity_Score           953 non-null    object
 14  Product_Category_Preferences   969 non-null    object
 15  Month                          960 non-null    object
 16  Year                           961 non-null    object
 17  Season                         964 non-null    object
 18  Will_Purchase_Next_Month       1000 non-null   int64
dtypes: int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
# Count of null values in each column
null_counts = df.isnull().sum()

print(null_counts)

# Define threshold for missing values (e.g., 50%) columns
threshold = len(df) * 0.5
df = df.dropna(axis=1, thresh=threshold)

# Fill categorical columns' null values with mode
columns_to_fill_mode = ['Gender', 'Product_Category', 'Purchase_Frequency_Per_Month', 'Income_Level', 'Brand', 'Purchase_Date', 'Product_Category_Preferences', 'Season', 'Month', 'Year']  # Replace with your column names
for column in columns_to_fill_mode:
    df[column].fillna(df[column].mode()[0], inplace=True)

# Convert columns to numeric
columns_to_convert = ['Age', 'Purchase_Amount', 'Average_Spending_Per_Purchase']
for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column], errors='coerce')

numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
# Fill numerical columns' null values with mean
for column in columns_to_convert:
    df[column].fillna(df[column].mean(), inplace=True)

Customer_ID                      32
Age                              33
Gender                           33
Income_Level                     41
Address                          32
Transaction_ID                   39
Purchase_Date                    35
Product_ID                       40
Product_Category                 44
Brand                            46
Purchase_Amount                  33
Average_Spending_Per_Purchase    26
Purchase_Frequency_Per_Month     37
Brand_Affinity_Score             47
Product_Category_Preferences     31
Month                            40
Year                             39
Season                           36
Will_Purchase_Next_Month          0
dtype: int64

C:\Users\HP\AppData\Local\Temp\ipykernel_17732\2469670309.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
C:\Users\HP\AppData\Local\Temp\ipykernel_17732\2469670309.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [53]:
# Count of null values in each column
null_counts = df.isnull().sum()

print(null_counts)

Customer_ID                      32
Age                               0
Gender                            0
Income_Level                      0
Address                          32
Transaction_ID                   39
Purchase_Date                     0
Product_ID                       40
Product_Category                  0
Brand                             0
Purchase_Amount                   0
Average_Spending_Per_Purchase     0
Purchase_Frequency_Per_Month      0
Brand_Affinity_Score             47
Product_Category_Preferences      0
Month                             0
Year                              0
Season                            0
Will_Purchase_Next_Month          0
dtype: int64

In [56]:
# Convert columns to numeric
columns_to_convert = ['Age', 'Purchase_Amount', 'Average_Spending_Per_Purchase']  # Replace with your column names
for column in columns_to_convert:
    df[column] = pd.to_numeric(df[column], errors='coerce')
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns

def identify_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] < lower_bound) | (df[column] > upper_bound)]

# Check outliers for all numeric columns
for col in numeric_cols:
    outliers = identify_outliers(df, col)
    print(f"Outliers in {col}:")
    print(outliers)

# Identify and remove outliers from the 'Age' column only
age_outliers = identify_outliers(df, 'Age')
df = df[~df.index.isin(age_outliers.index)]

Outliers in Age:
Empty DataFrame
Columns: [Customer_ID, Age, Gender, Income_Level, Address, Transaction_ID, Purchase_Date, Product_ID, Product_Category, Brand, Purchase_Amount, Average_Spending_Per_Purchase, Purchase_Frequency_Per_Month, Brand_Affinity_Score, Product_Category_Preferences, Month, Year, Season, Will_Purchase_Next_Month]
Index: []
Outliers in Purchase_Amount:
Empty DataFrame
Columns: [Customer_ID, Age, Gender, Income_Level, Address, Transaction_ID, Purchase_Date, Product_ID, Product_Category, Brand, Purchase_Amount, Average_Spending_Per_Purchase, Purchase_Frequency_Per_Month, Brand_Affinity_Score, Product_Category_Preferences, Month, Year, Season, Will_Purchase_Next_Month]
Index: []
Outliers in Average_Spending_Per_Purchase:
Empty DataFrame
Columns: [Customer_ID, Age, Gender, Income_Level, Address, Transaction_ID, Purchase_Date, Product_ID, Product_Category, Brand, Purchase_Amount, Average_Spending_Per_Purchase, Purchase_Frequency_Per_Month, Brand_Affinity_Score, Product_Category_Preferences, Month, Year, Season, Will_Purchase_Next_Month]
Index: []
Outliers in Will_Purchase_Next_Month:
                              Customer_ID   Age  Gender Income_Level  \
21   88601ef4-484f-40e4-a727-9a8667ca4985  27.0   Other       Medium
24   0d187b13-1a29-4421-ae2c-c0c378cc8910  19.0    Male       Medium
34   490c322c-d7bb-48c9-bc94-fe6f5fad3ebe  57.0   Other          Low
55   8fe92101-78ea-4b83-9f54-65752337e531  25.0    Male          Low
62   02e27bf9-dd37-49ab-8b4c-51b4a7f80284  48.0  Hidden       Medium
..                                    ...   ...     ...          ...
965  6396491d-8799-4abe-ba89-f78c7a5596cc  74.0  Female         High
971  bb04d1b8-7de6-47fd-b459-cd73c93881fc  74.0   Other         High
975  9ca98b01-0b02-410d-865c-d6e72f797a71  44.0   Other       Medium
977  ce940a05-2464-4f0b-bfe5-f0f42cc694fb  37.0  Female          Low
991  62c73378-cfbf-4896-9243-61de7de9acc7  37.0  Female          Low

                                               Address  \
21   05410 Jennifer Vista Suite 523\nBrittanytown, ...
24       595 Friedman Tunnel\nLake Jorgetown, NM 14564
34      0188 Gabriel Passage\nOsbornechester, PA 31557
55                                              Hidden
62              390 Linda Plaza\nNew Kristin, MN 31436
..                                                 ...
965                   Unit 3890 Box 3517\nDPO AA 18331
971    33328 Kimberly Burg Suite 375\nRayton, MI 51393
975         6036 Anderson Mount\nJessicaland, IL 70716
977  18961 Robin Corner Suite 212\nGarrisontown, PW...
991       91116 Bradley Islands\nWest Meghan, PR 35083

                           Transaction_ID Purchase_Date  \
21   8a00da63-5968-4673-afdc-088de2781473    2020-04-15
24   58740f61-e34e-4fa6-a72e-a0052e39650d    2022-04-05
34   788e24ef-61a5-49b2-90ef-a2f6cad4eedb    2023-07-08
55   7a478705-c928-424d-b7c1-a3ea778578c2    2023-09-10
62   09b76b10-fb1a-40c6-9024-296a1b58cad2    2021-10-08
..                                    ...           ...
965  099f9e75-9ad9-4ce6-926e-7719fe991e4e    2020-09-11
971  febd7528-6268-42bb-a332-c6af9214e84d    2023-01-02
975  80cea585-716f-4449-bc63-655ae86396cd    2021-01-09
977  c08898b0-ca5a-4a16-bf40-94f9beaf50d0    2021-08-15
991  adf48b82-b240-4827-b03a-c8d37a8d3e4c    2020-10-05

                               Product_ID Product_Category    Brand  \
21   9bd6f7fb-ff55-4262-9a10-ad892177837e            Books  Brand_C
24   20d9b5b4-f26d-4442-ac20-a1d384cd0bc4      Electronics  Brand_B
34   c394b7c8-155b-40ef-a7b4-2813bdc2686a            Books  Brand_B
55   3ca39ee8-5880-48f4-b97b-d66a0586e97b            Books  Brand_B
62   9724b7f2-bba5-4060-8e46-493d80c8a8c8      Electronics  Brand_A
..                                    ...              ...      ...
965  8f76d3ad-65b8-483f-9173-f110231c887a            Books  Brand_A
971  d51260b6-3bce-4124-8dd8-85eb29bed9ed            Books  Brand_C
975  af2e98b4-4949-4944-85fb-bc00c4e6e6e3            Books  Brand_C
977  e9cc278f-eea9-46ec-8ffb-3586d805bf76      Electronics  Brand_A
991  3ce3fd4f-4a0e-4c99-abbe-a4926ad76e9e      Electronics  Brand_A

     Purchase_Amount  Average_Spending_Per_Purchase  \
21             190.0                      76.000000
24             485.0                      38.000000
34             187.0                      39.000000
55              53.0                      80.000000
62             327.0                      13.000000
..               ...                            ...
965            213.0                      77.000000
971            121.0                      10.000000
975             89.0                      87.000000
977             70.0                      32.000000
991            222.0                      51.603125

    Purchase_Frequency_Per_Month Brand_Affinity_Score  \
21                             1                    5
24                        Hidden                    5
34                        Hidden                    5
55                        Hidden                    8
62                             3                    1
..                           ...                  ...
965                            1                    2
971                            3                    2
975                            3                   10
977                       Hidden                    9
991                            1                   10

    Product_Category_Preferences Month    Year  Season  \
21                          High    03    1990    Fall
24                           Low    08    1995  Summer
34                        Hidden    05    2016  Summer
55                           Low    08    2007  Spring
62                          High    02    2017    Fall
..                           ...   ...     ...     ...
965                       Medium    06    1973  Spring
971                         High    02  Hidden    Fall
975                          Low    09    1972  Winter
977                          Low    10    1978  Summer
991                         High    04    2011  Summer

     Will_Purchase_Next_Month
21                          0
24                          0
34                          0
55                          0
62                          0
..                        ...
965                         0
971                         0
975                         0
977                         0
991                         0

[132 rows x 19 columns]

Addressing Inconsistancies

In [57]:
# Convert dates to datetime objects
df['Purchase_Date'] = pd.to_datetime(df['Purchase_Date'], errors='coerce')

# Ensure consistent encoding in categorical variables
df['Gender'] = df['Gender'].str.lower()
df['Product_Category'] = df['Product_Category'].str.capitalize()

# Convert numeric columns stored as strings
df['Purchase_Amount'] = pd.to_numeric(df['Purchase_Amount'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Remove leading/trailing whitespaces
df['Brand'] = df['Brand'].str.strip()

# Correct known typos or inconsistencies
df['Brand'] = df['Brand'].replace({'Brnd_A': 'Brand_A', 'brand a': 'Brand_A'})